<%= form_for(@runstat) do |f| %>
  <% if @runstat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@runstat.errors.count, "error") %> prohibited this runstat from being saved:</h2>

      <ul>
      <% @runstat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
